{
  "Resources" : {
    "user" : {
      "Type" : "AWS::DynamoDB::Table",
      "Properties" : {
        "KeySchema" : [
          {
            "AttributeName" : "key_twitter",
            "AttributeType" : "S",
            "KeyType" : "HASH"
          }
        ],
        "ProvisionedThroughput" : {
          "ReadCapacityUnits" : "5",
          "WriteCapacityUnits" : "3"
        },
        "TableName" : "user",
        "GlobalSecondaryIndexes" : [{
          "IndexName" : "key_user_index",
          "KeySchema" : [
            {
              "AttributeName" : "key_user",
              "AttributeType" : "S",
              "KeyType" : "HASH"
            }
		  ],                         
		  "Projection" : {
		    "NonKeyAttributes" : ["nickname", "name", "link_image"],
		    "ProjectionType" : "INCLUDE"
		  },
          "ProvisionedThroughput" : {
            "ReadCapacityUnits" : "5",
            "WriteCapacityUnits" : "3"
          }
        },
        {
          "IndexName" : "nickname_user_index",
          "KeySchema" : [
            {
              "AttributeName" : "nickname",
              "AttributeType" : "S",
              "KeyType" : "HASH"
            }
		  ],  
		  "Projection" : {
		    "ProjectionType" : "ALL"
		  },                       
		  "ProvisionedThroughput" : {
            "ReadCapacityUnits" : "5",
            "WriteCapacityUnits" : "3"
          }
        }]
      }
    }
  },
}
