{
  "Resources" : {
    "timeline" : {
      "Type" : "AWS::DynamoDB::Table",
      "Properties" : {
        "KeySchema" : [
          {
            "AttributeName" : "key_post",
            "AttributeType" : "S",
            "KeyType" : "HASH"
          }
        ],
        "ProvisionedThroughput" : {
          "ReadCapacityUnits" : "5",
          "WriteCapacityUnits" : "3"
        },
        "TableName" : "timeline",
        "GlobalSecondaryIndexes" : [{
          "IndexName" : "TimelinePublic",
          "KeySchema" : [
            {
              "AttributeName" : "flag_answer",
              "AttributeType" : "S",
              "KeyType" : "HASH"
            },
            {
              "AttributeName" : "key_timeline_post",
              "AttributeType" : "S",
              "KeyType" : "RANGE"
            }
		  ],                         
		  "Projection" : {
		    "ProjectionType" : "ALL"
		  },
          "ProvisionedThroughput" : {
            "ReadCapacityUnits" : "5",
            "WriteCapacityUnits" : "3"
          }
        },
        {
          "IndexName" : "VerTodoPublic",
          "KeySchema" : [
            {
              "AttributeName" : "key_post_original",
              "AttributeType" : "S",
              "KeyType" : "HASH"
            },
            {
              "AttributeName" : "key_timeline_post",
              "AttributeType" : "S",
              "KeyType" : "RANGE"
            }
		  ],                         
		  "Projection" : {
		    "ProjectionType" : "ALL"
		  },
          "ProvisionedThroughput" : {
            "ReadCapacityUnits" : "5",
            "WriteCapacityUnits" : "3"
          }
        },
        {
          "IndexName" : "Home",
          "KeySchema" : [
            {
              "AttributeName" : "key_user",
              "AttributeType" : "S",
              "KeyType" : "HASH"
            },
            {
              "AttributeName" : "key_timeline_post",
              "AttributeType" : "S",
              "KeyType" : "RANGE"
            }
		  ],                         
		  "Projection" : {
		    "ProjectionType" : "ALL"
		  },
          "ProvisionedThroughput" : {
            "ReadCapacityUnits" : "5",
            "WriteCapacityUnits" : "3"
          }
        }
        ]
      }
    }
  },
}
