option_settings:
 - option_name: OX_SECRET_KEY
   value: kEv7FEBT8rarwB41Hf72Bw50HbY6dyOU4CiwXHkFdExs5NgVQWaray6civgs4aYX
 - option_name: SECRET_KEY_ANONYMOUS
   value: YGWF5VLNhwduPtfMisczxgYDWRqoG5bW
 - option_name: OX_TOKEN_USER_LIFETIME
   value: 3600
 - option_name: TW_CONSUMER_KEY
   value: QbINcoPerlOi4Y4QD3wSjHJKp
 - option_name: TW_CONSUMER_SECRET
   value: ZBR4eNAo6KUK0gnZO2vm2JKLZdU4gh3DVbcnSibC42diBz1fiJ
 - option_name: TW_NAME
   value: restanroco
 - option_name: PAGINATION_DB_LIMIT
   value: 10
