files:
  "/var/app/app_restful.config":
    mode: "000444"
    owner: "apache"
    group: "apache"
    content: |
      AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      TBL_USER = '`{ "Ref" : "user"}`'
      TBL_TIMELINE = '`{ "Ref" : "timeline"}`'
      TBL_SKILL = '`{ "Ref" : "skill"}`'
      TW_CONSUMER_KEY = "https://api.twitter.com/oauth/access_token"
      TW_AUTHORIZE_URL = "https://api.twitter.com/oauth/authorize"
      TW_REQUEST_TOKEN_URL = "https://api.twitter.com/oauth/request_token"
      TW_BASE_URL = "https://api.twitter.com/1.1/"

option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "oxfishproject@gmail.com"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app_restful.config"
    "FLASK_DEBUG": "false"
    "SERVER_NAME" : "0.0.0.0:5000"
    "SECRET_KEY_ANONYMOUS" : "JC%DMbwMROa_7ad}FM@Rq1cZV%wC~b]T1bYsd=DGOMe/Fb^eqi.bNsUMxkn|@nBW"
    "DB_LIMIT" : "10"
    "TW_CONSUMER_KEY" : "QbINcoPerlOi4Y4QD3wSjHJKp"
    "TW_CONSUMER_SECRET" : "ZBR4eNAo6KUK0gnZO2vm2JKLZdU4gh3DVbcnSibC42diBz1fiJ"
    "TW_NAME" : "restanroco"
